################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/honeyBiollows/StateMachine/StateTest/Temp
/honeyBiollows/StateMachine/StateTest/StateTest.sln
/honeyBiollows/StateMachine/StateTest/Assembly-CSharp.csproj
/honeyBiollows/StateMachine/StateTest/Library
/honeyBiollows/StateMachine/StateTest/obj/Debug
/honeyBiollows/StateMachine/StateTest/ProjectSettings
/honeyBiollows/StateMachine/StateTest/.vs/StateTest/v14
/honeyBiollows/StateMachine/Temp
/honeyBiollows/StateMachine/StateTest.sln
/honeyBiollows/StateMachine/StateMachine.sln
/honeyBiollows/StateMachine/ProjectSettings
/honeyBiollows/StateMachine/Assembly-CSharp.csproj
/honeyBiollows/StateMachine/Library
/honeyBiollows/StateMachine/obj/Debug
/honeyBiollows/StateMachine/.vs/StateMachine/v14
